{% extends 'main/base.html' %} {% load static %} {% block meta %}

<title>Instagram</title>

{% endblock meta %} {% block body %}

<!--navbar-->
{% include 'main/partials/navbar.html' %}

<section class="section">
    <div class="container">
        <article class="media">
        <div class="media-left">
            <figure class="image is-256x256">
            <img
                class="is-rounded"
                src="https://bulma.io/images/placeholders/256x256.png"
            />
            </figure>
        </div>

        <div class="media-content">
            <div class="content">
            <h1 class="title">@Rejoan Islam</h1>
            <h2>afidi</h2>
            <div class="media-left">
                <button class="button is-success">Follow</button>
            </div>
            </div>

            <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Tweets</p>
                <p class="title">3,456</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Following</p>
                <p class="title">123</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Followers</p>
                <p class="title">456K</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
                </div>
            </div>
            </nav>

            <p class="subtitle is-5">
            hdasoidj dsaoihdo adasiohds asdhfiuaso hdoaishdoasjdoijasoid
            hyduasoihdjasdnka enawsmfdbnjkanbdkjasn asijdhasiuhdfb
            asfdhasuifhduasihd asdfhasiuhdf
            </p>

            <p>
            <button class="button is-success">Edit ptofile</button>
            </p>
        </div>
        </article>


        <section class="section">
            <div class="container">

                <div class="tabs is-centered">
                    <ul>
                        <li>
                        <a><span class="material-icons">post_add</span>Post</a>
                        
                        </li>

                        <li>
                        <a><span class="material-icons">save</span>Saved</a>
                        
                        </li>
                      
                    </ul>
                </div>


                <div class="columns is-mobile is-centered">
                       <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>



                        <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>



                        <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>

                         <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>

                        

                        
                    </div>


                        
                </div>
               


            
            </div>
        </section>

    </div>

  
</section>

{% endblock body %}
