{% extends 'main/base.html' %} {% load static %} {% block meta %}

<title>Registration</title>

{% endblock meta %} {% block body %}
<!--navbar-->
{% include 'main/partials/navbar.html' %}

<section class="container mt-6">
	<div class="columns is-multiline">
		<div class="column is-8 is-offset-2 register">
			<div class="columns">
				<div class="column left">
					<h1 class="title is-1">Super Cool Website</h1>
					<h2 class="subtitle colored is-4">Lorem ipsum dolor sit amet.</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis
						ex deleniti aliquam tempora libero excepturi vero soluta odio optio
						sed.
					</p>
				</div>
				<div class="column right has-text-centered">
					<h1 class="title is-4">Sign up today</h1>
					<p class="description">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit
					</p>
					<form method="POST" action="" role="form">
						{% csrf_token %}

						<div class="field">
							<p class="control has-icons-left">
								<label class="label is-medium">Username</label>
								{{ form.username }}
							</p>
						</div>

						<div class="field">
							<div class="control has-icons-left">
								<label class="label is-medium">E-Mail</label>
								{{ form.email}}
							</div>
						</div>

						<div class="field">
							<div class="control has-icons-left">
								<label class="label is-medium">Password</label>
								{{ form.password}}
							</div>
						</div>

						<div class="field">
							<div class="control has-icons-left">
								<label class="label is-medium">confirm-password</label>
								{{ form.confirm_password }}
							</div>
						</div>
						

						<input
							type="submit"
							class="button is-block is-primary is-fullwidth is-medium"
							value="Create Account"
						/>
						<br />
						<small><em>Lorem ipsum dolor sit amet consectetur.</em></small>
					</form>
				</div>
			</div>
		</div>
		<div class="column is-8 is-offset-2">
			<br />
			<nav class="level">
				<div class="level-left">
					<div class="level-item">
						<span class="icon">
							<i class="fab fa-twitter"></i>
						</span>
						&emsp;
						<span class="icon">
							<i class="fab fa-facebook"></i>
						</span>
						&emsp;
						<span class="icon">
							<i class="fab fa-instagram"></i>
						</span>
						&emsp;
						<span class="icon">
							<i class="fab fa-github"></i>
						</span>
						&emsp;
						<span class="icon">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
				</div>
				<div class="level-right">
					<small class="level-item" style="color: var(--textLight)">
						&copy; Super Cool Website. All Rights Reserved.
					</small>
				</div>
			</nav>
		</div>
	</div>
</section>

{% endblock %}
