{% extends 'main/base.html' %} {% load static %} {% block meta %}

<title>Instagram</title>

{% endblock meta %} {% block body %}


  <!--navbar-->
  {% include 'main/partials/navbar.html' %}

  <!--Section-->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 style="font-size: 90px" class="title">#earth</h1>
      </div>
    </div>
  </section>

    <section class="section">
            <div class="container">
                <div class="columns is-mobile is-centered">
                       <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>



                        <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>



                        <div class="column is-one-quarter">
                            <div class="box">
                                <figure class="image is-264x264">
                                    <img
                                        src="https://bulma.io/images/placeholders/128x128.png"
                                        alt="Image"
                                    />
                                </figure>
                            </div>
                        </div>

                        
                    </div>


                        
                </div>
               


            
            </div>
    </section>

{% endblock %}
